body {

}

.content {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
}

.popup {
    border-radius: 4px;
    padding: 21px 42px;
    background: #fff;
}

.popup__title {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 20px 0;
}

.popup__confirmation {
    text-align: center;
}

.popup__confirmation button {
    padding: 10px;
    margin: 0 10px;
}
