.service-navigation {
    margin-top: 28px;
    position: relative;
}
/* service-navigation = sn */

.sn__title {
    font-family: ArialMT, sans-serif;
    font-size: 24px;
    color: #000000;
    margin: 0 0 16px 0;
}

.sn__expanding {
    position: absolute;
    right: 2px;
    top: 12px;
}
.sn__expanding__text {
    font-size: 12px;
    color: #56a027;
    cursor: pointer;
    padding-left: 32px;
}


.sn__list {
    padding: 0;
    margin-bottom: 20px;
}

    .sn__list__item {
        list-style: none;
        padding: 11px 33px 16px 19px;
        background-color: #f2f2f2;
        border: solid 1px #dcdcdc;
        position: relative;
        min-width: 800px;
        z-index: 2;

    }
    .sn__list__item:not(:first-child) {
        margin-top: -1px;
    }
    .sn__list__item--minimized {
        background: #ffffff;
    }
    .sn__list__item--minimized {
        padding: 11px 33px 11px 19px;
    }
    .sn__list__item--minimized > .sn__header {
        margin: 0;
    }
    .sn__list__item--minimized .sn__header__title {
        opacity: 1;
    }
    .sn__list__item--minimized > .sn__row {
        display: none;
    }
    .sn__list__item--minimized .sn__checkbox-wrapper {
        z-index: -1;
    }

        .sn__btn-remove {
            position: absolute;
            cursor: pointer;
            right: 6px;
            top: 10px;
            background: url("../img/cross.svg") no-repeat center;
            width: 20px;
            height: 20px;
        }

        .sn__drag-handle {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -16px;
            width: 16px;
            height: 31px;
            background: url("../img/drag-handle.svg") no-repeat 4px center;
            cursor: move;
        }

        .sn__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 14px;
            line-height: 20px;
            cursor: pointer;
        }

            .sn__header__item {
                display: flex;
                flex-direction: row;
            }

                .sn__header__title {
                    font-family: Arial, sans-serif;
                    font-size: 16px;
                    line-height: 20px;
                    opacity: 0.5;
                }

                .sn__checkbox-wrapper {

                }

                .sn__checkbox-image {
                    display: inline-block;
                    position: relative;
                    line-height: 0;
                }
                .sn__checkbox-image--padding {
                    margin: 0 16px 0 8px;
                }
                    .sn__checkbox-image > label {
                        width: 16px;
                        height: 11px;
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .sn__checkbox-image > label:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 1;
                    }
                    .sn__checkbox-image > label:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }
                    .sn__checkbox-image > label:hover::after {
                        opacity: 0.3;
                    }
                    .sn__checkbox-image > input[type=checkbox] {
                        visibility: hidden;
                    }
                    .sn__checkbox-image > input[type=checkbox]:checked + label:before{
                        opacity: 0;
                    }
                    .sn__checkbox-image > input[type=checkbox]:checked + label:after {
                        opacity: 1;
                    }

                    .sn__tr-hide {
                        width: 16px;
                        height: 11px;
                    }
                    .sn__tr-hide + label:before {
                        width: 16px;
                        height: 11px;
                        background: url('../img/eye-show.svg') no-repeat;
                    }
                    .sn__tr-hide + label:after {
                        width: 16px;
                        height: 11px;
                        background: url('../img/eye-hide.svg') no-repeat;
                        top: -1px;
                    }

                    .sn__tr-new {
                        width: 28px;
                        height: 12px;
                    }
                    .sn__tr-new + label:before {
                        width: 28px;
                        height: 12px;
                        background: url('../img/new-false.svg') no-repeat;
                    }
                    .sn__tr-new + label:after {
                        width: 28px;
                        height: 12px;
                        background: url('../img/new-true.svg') no-repeat;
                    }

                .sn__checkbox {
                    display: inline-block;
                    position: relative;
                    line-height: 0;
                    margin-right: 4px;
                }
                    .sn__checkbox > label {
                        width: 15px;
                        height: 15px;
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #ffffff;
                        border-radius: 2px;
                        border: 1px solid #b2b2b2;
                    }
                    .sn__checkbox > label:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        top: -1px;
                        left: -1px;
                        border-radius: 2px;
                        border: 1px solid #56a027;
                        background: #56a027;
                        opacity: 0;
                    }
                    .sn__checkbox > label:after {
                        content: '';
                        width: 8px;
                        height: 4px;
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        border: 2px solid #fcfff4;
                        border-top: none;
                        border-right: none;
                        background: transparent;
                        opacity: 0;
                        transform: rotate(-45deg);
                     }
                    .sn__checkbox > label:hover::after {
                        opacity: 0.3;
                    }
                    .sn__checkbox > input[type=checkbox] {
                        visibility: hidden;
                    }
                    .sn__checkbox > input[type=checkbox]:checked + label:before {
                        opacity: 1;
                    }
                    .sn__checkbox > input[type=checkbox]:checked + label:after {
                        opacity: 1;
                    }

        .sn__row {
            display: flex;
            flex-direction: row;
            margin-bottom: 5px;
        }

            .sn__label {
                font-size: 12px;
                width: 90px;
            }

                .sn__label__inside {
                    width: 90px;
                    line-height: 26px;
                }

            .sn__field {
                width: 100%;
            }

                .sn__field input[type="text"] {
                    height: 24px;
                    background: #ffffff;
                    border-radius: 2px;
                    border: solid 1px #c8ced2;
                    padding: 0 8px;
                    box-sizing: border-box;
                    font-size: 12px;
                    line-height: 26px;
                    color: #444444;
                }
                .sn__field textarea {
                    min-height: 74px;
                    background: #ffffff;
                    border-radius: 2px;
                    border: solid 1px #c8ced2;
                    padding: 0 8px;
                    box-sizing: border-box;
                    font-size: 12px;
                    line-height: 26px;
                    color: #444444;
                }

                .sn__link-field {
                    width: 100%;
                }

                .sn__service-code-field,
                .sn__tags-field {
                    width: 50%;
                }

.sn__btn-add {
    display: inline-block;
    padding: 5px 16px 7px 16px;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, #63b22d, #2e694c);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}