.sa__title {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 20px 0;
}

.sa__search {
    display: flex;
    flex-direction: row;
}

.sa__search__form {
    width: 100%;
    height: 36px;
    padding: 0 8px;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #9dafbd;
    font-size: 14px;
    line-height: 16px;
    font-family: Arial, sans-serif;
    color: #505050;
}

.sa__search__button {
    width: 46px;
    height: 36px;
    margin-left: 6px;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, #63b22d, #2e694c);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.sa__search__button__image {
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.sa__table-wrapper{
    max-height: 800px;
    overflow-y: auto;
}
.sa__services {
    width: 100%;
    margin-top: 5px;
    border-collapse: collapse;
}
.sa__services th {
    background: #ece9e0;
    height: 41px;
    border: 1px solid #cecece;
    padding: 0 19px;
    font-size: 12px;
    line-height: 14px;
    color: #505050;
    text-align: left;
}
.sa__services td {
    height: 30px;
    border: 1px solid #cecece;
    padding: 0 19px;
    font-size: 12px;
    line-height: 14px;
    color: #56a027;
    cursor: pointer;
}